<ion-content color="primary">
  <ion-card>
    <ion-card-header>
      <ion-card-title>LOGIN</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      
      <ion-item>
        <ion-label position="floating">E-mail:</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha:</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-checkbox color="success" position="relative"></ion-checkbox>
        <p>Manter Conectado</p>
      </ion-item>

      <ion-button expand="block" color="succes" fill="outline">LOGIN</ion-button>
      <ion-button expand="block" color="warning" fill="outline" routerLink="./registro">CRIAR CONTA</ion-button>
      
      <p>O router não está funcionando <b>ainda!</b></p>
      <p>Agradeço se der uma olhadinha na pasta "registro"</p>
      <p>desisti de fazer o router funcionar 
      <b>por que tentei umas quinze vezes e verifiquei tudo</b>
      mas ainda sim, não funcionou...<b> tenha uma boa semana</b>
      <ion-icon name="heart" color="danger"></ion-icon></p>
      

    </ion-card-content>
  </ion-card>
</ion-content>